.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 80px;
    height: 80px;
  }

  .message {
    font-size: 20px;
    font-weight: 500;
    white-space: pre-wrap;
    text-align: center;
    color: #000000;
    margin-top: 20px;
  }
}
