<section>
  <h2 *ngIf="!(isLoading | async)" class="sub-heading">
    Next 5 days forecast for <span>{{ cityName?.replace(',', ', ') }}</span>
  </h2>
  <mat-card class="card" *ngFor="let data of forecast | async">
    <mat-card-content>
      <div class="card-content">
        <h2>Date: {{ data.date | date: 'fullDate' }}</h2>
        <h2 class="show-case">{{ data.temp }}°C</h2>
        <div>Sea level: {{ data.seaLevel }}hPa</div>
        <div>Humidity: {{ data.humidity }} %</div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
