<section>
  <h2 *ngIf="!(isLoading | async)" class="sub-heading">
    Weather report of 5 European cities
  </h2>
  <mat-card
    class="card"
    *ngFor="let data of weatherData | async"
    [routerLink]="[
      '/',
      'home',
      'forecast',
      data.cityName + ',' + data.countryName
    ]"
  >
    <mat-card-content>
      <div class="card-content">
        <h2>{{ data.cityName }}, {{ data.countryName }}</h2>
        <h2 class="show-case">{{ data.temp }}°C</h2>
        <div>Sunrise Time: {{ data.sunrise * 1000 | date: 'shortTime' }}</div>
        <div>Sunset Time: {{ data.sunset * 1000 | date: 'shortTime' }}</div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
