section {
  height: 100%;
  background: url('/assets/images/background.jpg') no-repeat center center /
    cover;
}
.header-spacer {
  flex: 1 1 auto;
}
.main {
  max-width: 980px;
  margin: 10px auto;
}
