<section>
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span>Weather Report</span>
      <span class="header-spacer"></span>
      <button
        [routerLink]="['/', 'home']"
        mat-icon-button
        aria-label="Example icon-button with home icon"
      >
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</section>
