/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  .sub-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin: 1rem 0;
  }
  .card {
    margin-bottom: 10px;

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      h2 {
        @media (min-width: 768px) {
          margin: 0;
        }
      }
      .show-case {
        font-size: 32px;
        color: #ff6600;
      }
      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
  }
}
